# config file
config.json
valorant.json
caiyun.json
# log file
*/log/
*.log
*.log.*
btest.py


# python file
__pycache__/

# idea
.idea/
.vscode/
*vnev/
*venv/

# webfile
!code/web/ahri/index.html
code/web/